<div class="container">
     <div class="text-center d-sm-flex align-items-center justify-content-between mb-4 ">
               
                <h1 class="h3 mb-0 text-gray-800">EDIT CATEGORY</h1>
                <a href="/admin/category" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa- fa-sm text-white-50"></i>ALL CATEGORY</a>
        </div>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                      <form action="/admin/category/edit/{{cat._id}}?newMethod=PUT" method="POST" >
                            <div class="form-group">
                                <input type="text" class="form-control" id="title" name="title" value="{{cat.title}}" >
                            </div>            
                            <button type="submit"  class="btn btn-primary btn-block">UPDATE</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>